{% extends "VerificacionesApp/padre.html" %}

{% load static %}





{% block titulo %}
<title>Nuevo evento &mdash; :) </title>
{% endblock %}


{% block contenido %}




           


            <form  action="" method="POST" enctype="multipart/form-data" >  <!--Cuidado con la info automatica-->

              {% csrf_token %}

             

                    {{ miFormulario.as_p }}
              
              


                   {{ formset.management_form }}
                    {% for form in formset %}

                    {{ form.as_p }}
                    
                    {% endfor %}

            
    
      

              <div >
                <div >
                  <input type="submit" value="Enviar datos" >
                </div>
              </div>
            

              
         


            </form>




    
    
 {% endblock %}






        <!--
          <script>
            
            

            

            
            mapboxgl.accessToken = '{{ MAPBOX_ACCESS_TOKEN }}';
            
            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [-64.03, -35.11],
            zoom: 9,
           
           
            });

            

               
              </script>


-->